@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
nav{
    background-color: rgb(16, 65, 114);
    
}
.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-center h3{
    text-align: left;
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    letter-spacing: 0.1em;
}
.nav-links {
    float: right;
    list-style-type: none;
    display: flex;
    margin-right: 40px;
}
.nav-center li a{
    text-decoration: none;
    margin-right: 20px;
    font-weight: 700;
    color: white;
    font-size: larger;
    letter-spacing: 0.1em;
    align-self: auto;
    cursor: pointer;
}

main {
    min-height: calc(70vh - 3rem);
    display: grid;
    place-items: center;
}
.container{
    background-color: black;

}
.container h2{
    color: white;
    text-align: center;
    padding: 1rem;
}
.btn{
    background-color: white;
    padding: 7px;
    border-radius: 12px;
    border-color: transparent;
    margin-bottom: 20px;
    align-items: center;
    margin-left:42%;
    margin-bottom: 20%;
    cursor: pointer;
}
.nav-center li a:hover {
    color: white;
    background: black;
}
.btn-hero:hover{
    box-shadow: 0 6px 6px 0 rgba(227, 223, 223, 0.24), 0 9px 30px 0 rgba(203, 198, 198, 0.19);
}